@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    We've sent a confirmation email to your inbox. Please check your email and click the confirmation link to activate your account.
</p>

<p>
    If you haven't received the email, check your spam folder or <a href="/Identity/Account/ResendEmailConfirmation">click here to resend the confirmation email</a>.
</p>


